/* Default fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: "JetBrains Mono Italic";
  font-style: italic;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-italic.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* Styling */
*, *:before, *:after {
  margin: 0;
  padding: 0;
}

body {
  color: #eeeeee;
  background-color: #161616;
  width: auto;
  height: 100%;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --article-width: 600px;
  --gutter-width: max(0px, calc((50vw - 300px) / 7));
}

body > header {
  margin-inline: 8px;
  display: flex;
  justify-content: center;
  margin-block-start: 1em;
}
body > header > nav {
  display: flex;
  width: var(--article-width);
  /*width: calc(var(--article-width) + var(--gutter-width) * 2);*/
  justify-content: space-between;
}

body > header > nav > ul {
  display: flex;
  gap: 1em;
}
body > header li {
  display: block;
}
body > header a {
  text-decoration: none;
  color: inherit;
}

body > footer {
  padding-inline: 8px;
  padding-block: 2em;
  display: flex;
  justify-content: center;
  /*background-color: hsl(240 20% 22% / 1);*/
}
body > footer > div {
  display: flex;
  width: var(--article-width);
  /*width: calc(var(--article-width) + var(--gutter-width) * 2);*/
}

code {
  font-family: "JetBrains Mono", monospace;
}

a {
  color: #618fea;
}

main {
  padding-inline: 8px;
  display: flex;
  justify-content: center;
}
main > * {
  width: 100%;
  max-width: var(--article-width);
}

article p,
article ol,
article ul,
article blockquote,
article figure {
  margin-block: 1em;
}

li p,
li figure {
  margin-block: .5em;
}

li input[type="checkbox"] {
  margin-right: .5em;
}
li input[type="checkbox"] + p {
  display: inline-block;
}

article figure:has(> img) {
  max-height: max(32ch, 50vh);
}

article figure > img {
  max-width: 100%;
  max-height: inherit;
  display: block;
  margin: 0 auto;
  widht: auto;
  height: auto;
}

article section {
  display: contents;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0.75rem;
}

article ul,
article ol {
  padding-inline-start: 2rem;
}

article pre {
  border: solid 1px;
  border-radius: 4px;
  padding: 1ch;
  overflow-x: auto;
}

article img {
  max-width: 100%;
}
article blockquote {
  padding-inline-start: 1em;
  border-inline-start: solid 1px;
}

/* Inline verbatim `` */
article :not(pre)>code {
  padding: 0 3px;
  margin: 0 3px;
  border-radius: 3px;
  border: solid 1px;
  box-sizing: border-box;
  word-break: keep-all;
}

